body{
    background-color: aqua;
    padding: 0 20% 0 20%;
}
h1{
    color: brown;
    text-transform: uppercase;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: justify;
    inset-block: 0.5%;
}